.about{
   height:  100vh;
    padding-top: 10%;
}
.about img{
    width: 100%;
}
.about h1{
    font-size: 4em;
}
.about h1 span{
    color:#FFEC00; 
}
.about p{
    font-size: 1.2em;
    padding: 10px 0;
}
.detailbx{
    width: 400px;
    height: 300px;
    border: 8px solid #444444;;
}
.detailbx img{
    margin: 50px 0 0 50px;
    width: 100%;
}
.about a{
    text-decoration: none;
    padding: 15px 20px;
    color: #444444;
    background:#FFEC00 ;
    transition: 0.4s all;
}
.about a:hover{
     border: 1px solid #444444;
    background:none;
}

@media only screen and (max-width:991px){
    .about{
   height:  70vh;
    padding-top: 10%;
}
    .about h1{
    font-size: 3em;
}
.about p{
    font-size: 1em;
    padding: 10px 0;
}

}
@media only screen and (max-width:767px){
      .about{
   height:  90vh;
    padding-top: 10%;
}
    .about img{
    padding-top: 15%;
      width: 60%;
}  
    .detailbx{
        margin-top: 20%;
    width: 300px;
    height: 200px;
    border: 8px solid #444444;;
}
    .detailbx img{
    margin: -10px 0 0 30px;
    width: 115%;
}
   
   @media only screen and (max-width:370px) {
 .detailbx img{
    margin: -10px 0 0 20px;
    width: 100%;
}
}
